/* ##### General Styles ##### */
body {
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

div.title {
    background-color: #006357;
    min-width: 350px;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    text-align: center;
}

div.page_title {
    color: #666666;
    font-size: 35px;
    font-weight: bold;
}

div.page_subtitle {
    color: #666666;
    font-size: 25px;
    font-weight: bold;
}

div.content_wrapper {
    padding-top: 10px;
}

a:link, a:visited {
    color: #006357;
    font-weight: normal;
    text-decoration: none;
}

a:hover, a:active {
    color: #006357;
    font-weight: normal;
    text-decoration: underline;
}

hr.header_spacer {
    border: none;
    background-color: #CCCCCC;
    height: 1px;
    margin-right: 10px;
}

span.content_block {
    display: inline-block;
    min-width: 300px;
    max-width: 900px;
    vertical-align: top;
    text-align: left;
}

form input {
    border: 1px solid #006357;
}

/* ##### General purpose table styles */
table.gptable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    min-width: 250px;
    font-size: 11pt;
    border: 1px solid #006357;
}

table.gptable td {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #006357;
}

td.gptable_head {
    font-weight: bold;
    background-color: rgba(0, 99, 87, 0.60);
}

tr.gptable_odd {
    background-color: rgba(0, 99, 87, 0.20);
}

tr.gptable_even {
    background-color: rgba(0, 99, 87, 0.40);
}

tr.gptable_odd:hover, tr.gptable_even:hover {
    background-color: rgba(0, 38, 124, 0.30);
}


/* ##### Navigation-Styles ##### */
hr.navi_spacer {
    height: 1px;
    background-color: #FFFFFF;
    border: none;
    width: 190px;
}

a.navilink:link, a.navilink:visited {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

a.navilink:hover, a.navilink:active {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
}

div.navi_wrapper {
    float: left;
    height: 100%;
    width: 200px;
    background-color: #006357;
    margin-right: 10px;
    color: #FFFFFF;
}

div.navi_logininfo {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
}

ul.navi_linkcontainer {
    margin-left: -15px;
    margin-top: 0px;

    list-style-image: url('../img/bullet.png');
}


/* ##### index-Styes ##### */
div.index_buttons {
    width: 100%;
    text-align: center;
}

@media (max-device-width: 450px) {
    span.index_big_button {
        width: 300px;
        height: 300px;
        line-height: 300px;
    }
}

@media (min-device-width: 450px) {
    span.index_big_button {
        width: 400px;
        height: 400px;
        line-height: 400px;
    }
}

span.index_big_button {
    display: inline-block;

    background-color: rgba(0, 99, 87, 0.20);
    margin: 15px 15px 15px 15px;

    text-align: center;
    vertical-align: middle;
    color: #666666;
    font-size: 30px;
    font-weight: bold;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

span.index_big_button:hover {
    background-color: rgba(0, 99, 87, 0.70);
    color: #FFFFFF;
}

a.index_big_button {
    border: none;
    text-decoration: none;
    color: #666666;

    -webkit-transition-property: color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

a.index_big_button:hover {
    color: #FFFFFF;
}

/* ##### Login styles ##### */
div.login_content_container {
    width: 100%;
    text-align: center;
}

div.login_error {
    font-weight: bold;
    color: #EE0000;
}

/* ##### Callsignlist styles ##### */
div.callsignlist_wrapper {
    min-width: 300px;
    width: 100%;
    text-align: center;
}

/* ##### Devices styles ##### */
table.devicelist {
    border-collapse: collapse;
    min-width: 250px;
    font-size: 11pt;
    border: 1px solid #006357;
}

table.devicelist td {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #006357;
}

td.devicelist_head {
    font-weight: bold;
    background-color: rgba(0, 99, 87, 0.60);
}

tr.devicelist_odd {
    background-color: rgba(0, 99, 87, 0.20);
}

tr.devicelist_even {
    background-color: rgba(0, 99, 87, 0.40);
}

tr.devicelist_odd:hover, tr.devicelist_even:hover {
    background-color: rgba(0, 38, 124, 0.30);
}
