/* ##### Dynamic Font-Sizes ##### */
@media (min-width: 400px) { /* 400px - 9999px */
    div.page_title { font-size: 35px; }
    table.content_wrapper { font-size: 12px; }
    table.gptable { font-size: 11pt; }
    div.index_big_button { font-size: 30px; }
}

@media (max-width: 400px) { /* 350px - 400px */
    div.page_title { font-size: 9vw; }
    table.content_wrapper { font-size: 3vw; }
    table.gptable { font-size: 3.5vw; }
    div.index_big_button { font-size: 9vw; }
}

@media (max-width: 350px) { /* 300px - 350px */
    div.page_title { font-size: 11vw; }
    table.content_wrapper { font-size: 3.5vw; }
    table.gptable { font-size: 4vw; }
    div.index_big_button { font-size: 11vw; }
}

@media (max-width: 300px) { /* 0px - 300px */
    div.page_title { font-size: 11vw; }
    table.content_wrapper { font-size: 4vw; }
    table.gptable { font-size: 4.5vw; }
    div.index_big_button { font-size: 11vw; }
}

/* ##### General Styles ##### */
body {
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    font-family: Verdana, Geneva, sans-serif;
}


div.title {
    background-color: #006357;
    width: 100%;
    text-align: center;
}
@media (min-width: 400px) { div.title { margin-top: 20px; } }
@media (max-width: 400px) { div.title { margin-top: 15px; } }
@media (max-width: 300px) { div.title { margin-top: 10px; } }
@media (max-width: 250px) { div.title { margin-top: 7px; } }

img.titleBanner {
    max-width: 90vw;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.page_title {
    color: #666666;
    font-weight: bold;
}

div.page_subtitle {
    color: #666666;
    font-size: 25px;
    font-weight: bold;
}

table.content_wrapper {
    height: 100%;
    min-width: 100%;
    margin: 0px;
    border-collapse: collapse;
}

table.content_wrapper td {
    padding: 0px 0px 0px 0px;
    vertical-align: top;
}

a:link, a:visited {
    color: #006357;
    font-weight: normal;
    text-decoration: none;
}

a:hover, a:active {
    color: #006357;
    font-weight: normal;
    text-decoration: underline;
}

hr.header_spacer {
    border: none;
    background-color: #CCCCCC;
    height: 1px;
    margin-right: 10px;
}

span.content_block {
    display: inline-block;
    min-width: 200px;
    max-width: 900px;
    vertical-align: top;
    text-align: left;
}

form input, form select, button {
    border: 1px solid #006357;
}

/* ##### General purpose table styles */
table.gptable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #006357;
}

table.gptable td {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #006357;
}

td.gptable_head {
    font-weight: bold;
    background-color: rgba(0, 99, 87, 0.60);
}

tr.gptable_odd {
    background-color: rgba(0, 99, 87, 0.20);
}

tr.gptable_even {
    background-color: rgba(0, 99, 87, 0.40);
}

tr.gptable_odd:hover, tr.gptable_even:hover {
    background-color: rgba(0, 38, 124, 0.30);
}


/* ##### Navigation-Styles ##### */
@media (min-width: 700px) {
    .navi_big { display: table-cell; }
    .navi_small { display: none; }
}

@media (max-width: 700px) {
    .navi_big { display: none; }
    .navi_small { display: inline-block; }
}

hr.navi_spacer {
    height: 1px;
    background-color: #FFFFFF;
    border: none;
    width: 190px;
}

a.navilink:link, a.navilink:visited {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

a.navilink:hover, a.navilink:active {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
}

td.navi_td {
    vertical-align: top;
    width: 200px;
    height: 100%;
    min-height: 100%;
    background-color: #006357;
    color: #FFFFFF;
}

td.navi_spacer {
    width: 10px;
}

div.navi_logininfo {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
}

ul.navi_linkcontainer {
    margin-left: -15px;
    margin-top: 0px;

    font-size: 12px;

    list-style-image: url('../img/bullet.png');
}

span.navi_small {
    width: 100%;
    text-align: left;
    vertical-align: middle;
}

span.navi_small_topbar {
    display: inline-block;
    width: 100%;
    background-color: #006357;
}

span.navi_small_topbar img {
    padding: 4px 2px 2px 2px;
}

span.navi_small_menu {
    display: inline-block;
    width: 100%;

    background-color: #006357;
}

img.navi_small_title {
    max-height: 30px;
}

img.navi_small_title_text {
    max-width: 55%;
}

a.navi_small_opener {
    float: right;
}

a.navi_small_opener img {
    padding: 6px 4px 4px 4px;
}

span.navi_small ul {
    display: none;
    width: 100%;
    padding: 0px 0px 5px 0px;
    margin: 0px;
    text-align: center;
}

span.navi_small:hover ul {
    display: block;
}

span.navi_small li {
    width: 100%;

    list-style-image: none;
    list-style-type: none;
}


/* ##### index-Styes ##### */
@media (max-width: 300px) {
    span.index_buttons {
        height: 40vw;
        margin: 8px 8px 8px 8px;
    }
}

@media (min-width: 300px) {
    span.index_buttons {
        height: 80vw;
        margin: 15px 15px 15px 15px;
    }
}

span.index_buttons {
    display: inline-block;

    width: 80%;
    /*height: 80vw;*/
    max-height: 350px;
    max-width: 350px;

    /*margin-left: auto;
    margin-right: auto;*/
}

div.index_big_button {
    background-color: rgba(0, 99, 87, 0.20);

    text-align: center;
    vertical-align: middle;
    color: #666666;
    font-weight: bold;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

div.index_big_button:hover {
    background-color: rgba(0, 99, 87, 0.70);
    color: #FFFFFF;
}

a.index_big_button {
    display: inline-block;

    height: 100%;
    width: 100%;

    border: none;
    text-decoration: none;
    color: #666666;

    -webkit-transition-property: color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

a.index_big_button:hover {
    color: #FFFFFF;
}

a.index_big_button div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* ##### Login styles ##### */
@media (max-width: 350px) {
    div.login_data_box_small { display: inline-block; }
    div.login_data_box_big { display: none; }
}

@media (min-width: 350px) {
    div.login_data_box_small { display: none; }
    div.login_data_box_big { display: inline-block; }
}

div.login_data_box_big { text-align: center; }
div.login_data_box_small { text-align: left; }

div.login_content_container {
    width: 100%;
    text-align: center;
}

div.login_error {
    font-weight: bold;
    color: #EE0000;
}

/* ##### Callsignlist styles ##### */
div.callsignlist_wrapper {
    width: 100%;
    text-align: center;
}

/* ##### Devices styles ##### */
div.devicelist_wrapper {
    max-height: 450px;
    width: 700px;
    overflow: auto;
    resize: both;
}

table.devicelist {
    border-collapse: collapse;
    width: 100%;
    font-size: 11pt;
    border: 1px solid #006357;
}

table.devicelist td {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #006357;
}

td.devicelist_head {
    font-weight: bold;
    background-color: rgba(0, 99, 87, 0.60);
}

tr.devicelist_odd {
    background-color: rgba(0, 99, 87, 0.20);
}

tr.devicelist_even {
    background-color: rgba(0, 99, 87, 0.40);
}

tr.devicelist_odd:hover, tr.devicelist_even:hover {
    background-color: rgba(0, 38, 124, 0.30);
}

/* ##### Users-Styles ##### */
div.userlist_wrapper {
    max-height: 450px;
    max-width: 700px;
    overflow: auto;
    resize: both;
}

/* ##### Bindings-Styles ##### */
div.bindinglist_wrapper {
    max-height: 450px;
    max-width: 7150px;
    overflow: auto;
    resize: both;
}