/* ##### General Styles ##### */
body {
    background-color: #FFFFFF;
    margin: 0px 0px 0px 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

div.title {
    background-color: #006357;
    min-width: 350px;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    text-align: center;
}

div.page_title {
    color: #666666;
    font-size: 35px;
    font-weight: bold;
}

div.content_wrapper {
    padding-top: 10px;
}

a:link, a:visited {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:active {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: underline;
}

hr.header_spacer {
    border: none;
    background-color: #CCCCCC;
    height: 1px;
    margin-right: 10px;
}


/* ##### Navigation-Styles ##### */
hr.navi_spacer {
    height: 1px;
    background-color: #FFFFFF;
    border: none;
    width: 190px;
}

div.navi_wrapper {
    float: left;
    height: 100%;
    width: 200px;
    background-color: #006357;
    margin-right: 10px;
    color: #FFFFFF;
}

div.navi_logininfo {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
}

ul.navi_linkcontainer {
    margin-left: -15px;
    margin-top: 0px;

    list-style-image: url('../img/bullet.png');
}


/* ##### index-Styes ##### */
div.index_buttons {
    width: 100%;
    text-align: center;
}

span.index_big_button {
    display: inline-block;

    width: 400px;
    height: 400px;
    background-color: rgba(0, 99, 87, 0.20);
    margin: 15px 15px 15px 15px;

    text-align: center;
    line-height: 400px;
    vertical-align: middle;
    color: #666666;
    font-size: 30px;
    font-weight: bold;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

span.index_big_button:hover {
    background-color: rgba(0, 99, 87, 0.70);
    color: #FFFFFF;
}

a.index_big_button {
    border: none;
    text-decoration: none;
    color: #666666;

    -webkit-transition-property: color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

a.index_big_button:hover {
    color: #FFFFFF;
}

/* ##### Login styles ##### */
div.login_content_container {
    width: 100%;
    text-align: center;
}

div.login_error {
    font-weight: bold;
    color: #EE0000;
}